.questions_text {
    // display: block;
    display: none;
    margin-bottom: 24px;
    width: 290px;
    margin-right: 15px;
    margin-left: 15px;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
    
    @media(min-width: $desktop-width) {
      width: 612px;
      padding-left: 100px;
    }
  }

 
  .questions_checker {
    opacity: 0;
    position: absolute;
  }
  .questions_checker:checked ~ .questions_text {
    display: block;
  }
  .questions_checker ~ .questions_button::after {
    content: url("../img/arrow.png");
    transform: rotate(180deg);
    position: absolute;
    top: 12px;
    right: 26px;
  }

  .questions_checker ~ .questions_button--up::after {
    content: url("../img/arrow.png");
    position: absolute;
    top: 12px;
    right: 26px;
  }

  .questions_button,
  .questions_button--up {
    position: relative;
    cursor: pointer;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F3F3F3;

    display: block;
    width: 290px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;

    @media(min-width: $desktop-width) {
      width: 1100px;
      padding-left: 100px;
      margin-right: 0;
      margin-left: 0;
    }
 }

 .questions_second {
  @include indents;
  display: block;
  width: 270px;

  @media(min-width: $desktop-width) {
    width: 1100px;
  }
 }
